
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" 用户自定义配置（该文件放一般性配置，可覆盖~/.vimrc里的配置，若要增加、卸载插件，请放入~/.vimrc.custom.plugins）
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""

" 开启相对行号
set relativenumber  

" 开启鼠标
set mouse=a

" 设置光标所在列高亮
set cursorcolumn

" indentLine 开启代码对齐线
" let g:indentLine_enabled = 1

" markdown
let system = system('uname -s')
if system == "Darwin\n"
    let g:mkdp_path_to_chrome = "/Applications/Google\\ Chrome.app/Contents/MacOS/Google\\ Chrome"
else
    let g:mkdp_path_to_chrome = '/usr/bin/google-chrome-stable %U'
endif
nmap <silent> <F7> <Plug>MarkdownPreview
imap <silent> <F7> <Plug>MarkdownPreview
nmap <silent> <F8> <Plug>StopMarkdownPreview
imap <silent> <F8> <Plug>StopMarkdownPreview

" Doxygen
" let g:DoxygenToolkit_authorName="chxuan, 787280310@qq.com"
" let s:licenseTag = "Copyright(C)\<enter>"
" let s:licenseTag = s:licenseTag . "For free\<enter>"
" let s:licenseTag = s:licenseTag . "All right reserved\<enter>"
" let g:DoxygenToolkit_licenseTag = s:licenseTag
" let g:DoxygenToolkit_briefTag_funcName="yes"
" let g:doxygen_enhanced_color=1
" let g:DoxygenToolkit_commentType="Qt"

" changesPlugin
let g:changes_autocmd=1
  let g:changes_use_icons = 0
  " let g:changes_respect_SignColumn = 1
  let g:changes_sign_text_utf8 = 1
  
  " let g:changes_linehi_diff = 1
  " hi ChangesSignTextAdd ctermbg=yellow ctermfg=black guibg=green
  " hi ChangesSignTextDel ctermbg=white  ctermfg=black guibg=red
  " hi ChangesSignTextCh  ctermbg=black  ctermfg=white guibg=blue

" vim-man
" <leader>m 新建水平窗口打开man
map <leader>m <Plug>(Man)
" <leader>v 新建垂直窗口打开man
map <leader>v <Plug>(Vman)

" vim-trailing-whitepace
" <leader> + space 去掉末尾空格快捷键
nnoremap <leader><space> :FixWhitespace<cr>

" rainbow_parentheses
let g:rbpt_colorpairs = [
      \ ['brown',       'RoyalBlue3'],
      \ ['gray',        'RoyalBlue3'],
      \ ['Darkblue',    'SeaGreen3'],
      \ ['darkgreen',   'firebrick3'],
      \ ['darkcyan',    'RoyalBlue3'],
      \ ['darkred',     'SeaGreen3'],
      \ ['gray',        'RoyalBlue3'],
      \ ]
  
  " let g:rbpt_colorpairs = [
  "     \ ['gray',        'RoyalBlue3'],
  "     \ ['brown',       'RoyalBlue3'],
  "     \ ['Darkblue',    'SeaGreen3'],
  "     \ ['darkgray',    'DarkOrchid3'],
  "     \ ['darkgreen',   'firebrick3'],
  "     \ ['darkcyan',    'RoyalBlue3'],
  "     \ ['darkred',     'SeaGreen3'],
  "     \ ['darkmagenta', 'DarkOrchid3'],
  "     \ ['brown',       'firebrick3'],
  "     \ ['darkmagenta', 'DarkOrchid3'],
  "     \ ['Darkblue',    'firebrick3'],
  "     \ ['darkgreen',   'RoyalBlue3'],
  "     \ ['darkcyan',    'SeaGreen3'],
  "     \ ['darkred',     'DarkOrchid3'],
  "     \ ]
  
  " 不加入这行, 防止黑色括号出现, 很难识别
  "    \ ['black',       'SeaGreen3'],
  
let g:rbpt_max = 16   " 开启16对括号匹配
let g:rbpt_loadcmd_toggle = 0

au VimEnter * RainbowParenthesesToggle
au Syntax * RainbowParenthesesLoadRound
au Syntax * RainbowParenthesesLoadSquare
au Syntax * RainbowParenthesesLoadBraces

" DoxygenToolkit
let g:DoxygenToolkit_blockHeader  = "************************************************************"
let g:DoxygenToolkit_briefTag_pre = "@Brief: "
let g:DoxygenToolkit_paramTag_pre = "@Param: "
let g:DoxygenToolkit_returnTag    = "@Returns: "
let g:DoxygenToolkit_versionTag    = "@Version: "
let g:DoxygenToolkit_versionString = "1.0"
let g:DoxygenToolkit_authorTag    = "@Author: "
let g:DoxygenToolkit_authorName   = "Bob"
let g:DoxygenToolkit_dateTag      = "@Date: "
let g:DoxygenToolkit_blockFooter  = "************************************************************"
" let g:DoxygenToolkit_briefTag_funcName = "yes"  " 显示函数名称
let g:DoxygenToolkit_commentType = "C++"
let g:DoxygenToolkit_compactDoc = "yes"   " 单行模式
" let g:Doxygen_enhanced_color = 1

" 快捷键
nnoremap fcb :Dox<cr>
nnoremap fca :DoxAll<cr>
nnoremap fcv :DoxAuthor<cr>

" CSS
augroup VimCSS3Syntax
  autocmd!
  autocmd FileType css setlocal iskeyword+=-
augroup END

" vim-commentary
" 为python和shell等添加注释
autocmd FileType python,shell,coffee set commentstring=#\ %s
" 修改注释风格
autocmd FileType java,c,cpp set commentstring=//\ %s
